<div class="container">
  <div class="left">
    <img src="../../../assets/image-list.png" alt="image not found">
  </div>
  <div class="right">
    <h1>Create your task</h1>
    <form class="form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Category</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Expiration Date</mat-label>
        <input matInput type="date" />
      </mat-form-field>

      <button mat-fab extended color="primary">
        Create
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
